/*-----Big Screens */
@media only screen and (min-width: 1140px) {
  /*-----Classes */
  .hero-container {
    display: flex;
    justify-content: center;
    position: relative;

    overflow: hidden;

    height: 80vh;
    width: 100vw;
  }

  .carousel {
    display: flex;

    transition: all 1s;

    height: 100%;
    width: 100%;
  }

  .no1 {
    transform: translateX(0vw);
  }

  .no1 {
    transform: translateX(-100vw);
  }

  .no2 {
    transform: translateX(-200vw);
  }

  .arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    /* z-index specifies what order the element is stacked 
    ** An element with a higher z-index will be on top of an element with lower z-index
    ** We're setting this high so the arrows will display above everything */
    z-index: 2;

    background-color: var(--primary);
    opacity: 0.6;

    cursor: pointer;

    transition: all var(--hover-speed);

    padding: 00.2rem;

    /* top + bottom as zero and then margin: auto centers the element*/
    top: 0;
    bottom: 0;
    margin: auto;

    height: 4rem;
    width: 4rem;
  }

  .left-arrow {
    left: 0.2rem;
  }

  .right-arrow {
    right: 0.2rem;
  }

  .slide-wrapper {
    display: flex;
    /* The flex shorthand property has
    ** 1: flex-grow
    ** 2: flex-shrink
    ** 3: flex-basis, which is used to set the initial length (width) of the element
    ** We pump it to 100% to take up the whole space of the slide */
    flex: 0 0 100%;

    height: 100%;
  }

  .slide-img-container {
    flex: 1;

    padding: 0 0.5rem;

    height: 100%;
  }

  .slide-img-container > img {
    object-fit: contain;

    height: 100%;
    width: 100%;
  }

  .slide-info-container {
    flex: 1;

    display: flex;
    flex-direction: column;
    justify-content: center;

    padding: 0.5rem;

    height: 100%;
  }

  .slide-info-container > h1 {
    font-size: 4rem;
    text-align: left;
    letter-spacing: 1px;

    margin: 1rem 0;
    padding: 0.5rem;
  }

  .slide-info-container > p {
    font-size: 1.5rem;
    text-align: left;
    letter-spacing: 3px;
    font-weight: 500;

    margin: 1rem 0;
    padding: 00.5rem;
  }

  .slide-info-container > button {
    font-family: -apple-system, BlinkMacSystemFont, "Urbanist", "Segoe UI",
      Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
      sans-serif;
    padding: 00.5rem;
    font-size: 1.5rem;
    background-color: transparent;

    cursor: pointer;

    width: 40%;
  }
}

@media (hover: hover) and (pointer: fine) {
  .arrow:hover {
    filter: brightness(1.2);
    opacity: 1;
  }
}
