:root {
  /*-----Speeds */
  --speed: 500ms;
  --hover-speed: 350ms;
  /*-----Colors */
  --primary: #b76e79;
  --primaryDark: #86434d;
  --secondary: #6d82b7;
  --nav-bg: #dadce1;
  --nav-bg-accent: #b899a5;
  --text-color: #242526;
  --my-black: #1e1110;
  --less-black: #495052;
  /*-----Other stuff */
  --nav-size: 60px;
  --border: 1px solid var(--nav-bg-accent);
  --border-radius: 8px;
  box-sizing: border-box;
}

/*-----Classes */
.navbar-container {
  display: flex;

  padding: 0 1rem;

  background-color: var(--nav-bg);
  border-bottom: var(--primaryDark);

  height: var(--nav-size);
  top: 0;
  margin-bottom: auto;
}

.title {
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 0.2rem;
}

/* Hover only triggers for devices whose primary input is a pointer device 
** Aka not a touch device
*/
@media (hover: hover) and (pointer: fine) {
  .title:hover {
    color: var(--primary);
  }

  .icon-button:hover {
    filter: brightness(1.2);
  }

  .dropdown-menu-item:hover {
    filter: brightness(1.2);
  }
}

/*-----Big Screens */
@media only screen and (min-width: 1140px) {
  /*-----Classes */

  .left {
    display: flex;
    justify-content: center;
    align-items: center;
    /* Margin-rigth:auto pushes it to left of the container by filling up the space on right of this flexbox */
    margin-right: auto;

    padding: 0.5rem;

    background-color: var(--nav-bg);
    color: var(--less-black);

    transition: all var(--hover-speed);
  }

  /* Space between items in the left flexbox */
  .left > a {
    margin: 1rem;
  }

  .language {
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 0.1rem;
  }

  .center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    text-align: center;
  }

  .right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    /* Margin-left:auto pushes it to right of the container by filling up the space on left of this flexbox */
    margin-left: auto;

    list-style: none;

    height: 100%;
    max-width: 100%;
  }
}
