/*-----Global Variables */
html {
  scroll-behavior: smooth;
}

:root {
  /*-----Speeds */
  --speed: 500ms;
  --hover-speed: 350ms;
  /*-----Colors */
  --primaryLight: #dadce1;
  --primary: #b76e79;
  --primaryDark: #86434d;
  --secondary: #6d82b7;
  --nav-bg: #dadce1;
  --nav-bg-accent: #b899a5;
  --text-color: #242526;
  /*-----Other stuff */
  --nav-size: 60px;
  --border: 1px solid var(--nav-bg-accent);
  --border-radius: 8px;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Urbanist", "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: 0.2s ease-in;
}

a {
  color: var(--text-color);
  text-decoration: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
